<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<title>Automated Text Summarizer</title>

	<link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style1.css') }}"/>
	<link href="https://fonts.googleapis.com/css2?family-Roboto:wght@400; 700&display-swap" rel="stylesheet">


</head>
<style>
	.headd
	{
		font-size:120px;
		font-family:Algerian;
		margin-left:273px;
		margin-top:20px;
		}
		.headd1
	{
		font-size:70px;
		color:white;
		font-family:Algerian;
		margin-left:2px;
		margin-top:20px;
		}
		.headd2
	{
		font-size:120px;
		color:white;
		font-family:Algerian;
		margin-left:2px;
		margin-top:20px;
		}
</style>
<body>

	<div class="container">
		<div class="navbar">
			<img src="static/logo.jpg" class="logo"> <h1 class="headd">A</h1><h3 class="headd1">uto</h3><h1 class="headd2">S</h1>
		<nav>
			<ul>

				<li><a href="">ABOUT</a></li>
			</ul>
		</nav>
		<img src="static/dp.png" class="menu-icon">
	</div>
	<div class="row">
		<div class="col">
			<h1>Automatic Text Summarization</h1>
			<p>Summarization is the task of condensing a piece of text to a shorter version, reducing the size of the initial text while at the same time preserving key informational elements and the meaning of content. Since manual text summarization is a time expensive and generally laborious task, the automatization of the task is gaining increasing popularity and therefore constitutes a strong motivation for academic research.

There are important applications for text summarization in various NLP related tasks such as text classification, question answering, legal texts summarization, news summarization, and headline generation. Moreover, the generation of summaries can be integrated into these systems as an intermediate stage which helps to reduce the length of the document.</p>
			<!--button type="button">Explore</button-->
		</div>
		<div class="col">
			<button>
				<a href="{{ url_for('static', filename = 'css/news1.html') }}">
			<div class="card card1">
				<h5>Newsletters</h5>
				<p>Many weekly newsletters take the form of an introduction followed by a curated selection of relevant articles. Summarization would allow organizations to further enrich newsletters with a stream of summaries, which can be a particularly convenient format in mobile.</p>
			</div>
				</a>
			</button>
			<button>
				<a href="{{ url_for('static', filename = 'css/student.html') }}">
			<div class="card card2">
				<h5>School/College Notes</h5>
				<p>Students can use summariztion to make their school or college notes which help them in their studies and at same time will save the time .<p>

elit.</p>
			</div>
				</a>
			</button>
			<button>
				<a href="{{ url_for('static', filename = 'css/contract.html') }}">
			<div class="card card3">
				<h5>Legal contract analysis</h5>
				<p>Related to point 4 (internal document workflow), more specific summarization systems could be developed to analyze legal documents. In this case, a summarizer might add value by condensing a contract to the riskier clauses, or help you compare agreements.</p>
			</div>
				</a>
			</button>

		</div>
	</div>
	</div>
</body>
</html>
